@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --background-secondary: #1e1e1e;
        --foreground: #000000;
        --secondary: #8c8c8c;
        --card: #f5f5f5;
        --card-secondary: #282828;
        --border: #5a5a5a;
    }

    body {
        @apply bg-background text-foreground font-sans antialiased leading-normal text-base;
        line-height: 1.2;
    }

    .header {
        @apply relative h-screen bg-cover bg-center text-background;
    }
}
