<section class="max-w-[1280px] mx-auto mt-12 flex flex-col gap-12 px-5" id="faq">
    <div class="flex flex-col gap-3">
        <div class="flex flex-row gap-2 items-center">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4L7.49521 7.75L1 11.5" stroke="var(--foreground)" stroke-width="1.5" />
                <path d="M7.49521 4L13.9904 7.75L7.49521 11.5" stroke="var(--foreground)" stroke-width="1.5" />
            </svg>
            <p>Вопрос-ответ</p>
        </div>
        <h2 class="text-[48px] font-bold">Часто задаваемые вопросы</h2>
    </div>

    <div class="flex flex-row gap-2 relative">
        <img class="w-1/2 h-[312px] object-cover rounded-2xl" src="static/images/header.png" alt="" />

        <div class="w-1/2 flex flex-col gap-2 relative">
            <!-- Вопрос 1 -->
            <div class="faq-item relative">
                <button class="faq-question w-full items-center py-3 px-4 bg-card text-left rounded-2xl flex justify-between relative z-10">
                    Могу ли я поменять что-то в ходе работ?
                    <div class="bg-foreground p-2 rounded-full transition-transform duration-300">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 4L7.49521 7.75L1 11.5" stroke="var(--background)" stroke-width="2" />
                            <path d="M7.49524 4L13.9904 7.75L7.49524 11.5" stroke="var(--background)" stroke-width="2" />
                        </svg>
                    </div>
                </button>

                <div class="faq-popup absolute left-0 top-full w-full bg-card rounded-b-2xl shadow-xl p-4 text-sm text-muted-foreground hidden z-50">Да, вы можете внести изменения в проект в процессе работ, но важно согласовать это с менеджером — чтобы корректировки не повлияли на сроки и стоимость.</div>
            </div>

            <!-- Вопрос 2 -->
            <div class="faq-item relative">
                <button class="faq-question w-full items-center py-3 px-4 bg-card text-left rounded-2xl flex justify-between relative z-10">
                    Как долго длится работа?
                    <div class="bg-foreground p-2 rounded-full transition-transform duration-300">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 4L7.49521 7.75L1 11.5" stroke="var(--background)" stroke-width="2" />
                            <path d="M7.49524 4L13.9904 7.75L7.49524 11.5" stroke="var(--background)" stroke-width="2" />
                        </svg>
                    </div>
                </button>

                <div class="faq-popup absolute left-0 top-full w-full bg-card rounded-b-2xl shadow-xl p-4 text-sm text-muted-foreground hidden z-50">Сроки зависят от сложности проекта, обычно от 2 до 6 недель.</div>
            </div>

            <div class="faq-item relative">
                <button class="faq-question w-full items-center py-3 px-4 bg-card text-left rounded-2xl flex justify-between relative z-10">
                    Как долго длится работа?
                    <div class="bg-foreground p-2 rounded-full transition-transform duration-300">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 4L7.49521 7.75L1 11.5" stroke="var(--background)" stroke-width="2" />
                            <path d="M7.49524 4L13.9904 7.75L7.49524 11.5" stroke="var(--background)" stroke-width="2" />
                        </svg>
                    </div>
                </button>

                <div class="faq-popup absolute left-0 top-full w-full bg-card rounded-b-2xl shadow-xl p-4 text-sm text-muted-foreground hidden z-50">Сроки зависят от сложности проекта, обычно от 2 до 6 недель.</div>
            </div>

            <div class="faq-item relative">
                <button class="faq-question w-full items-center py-3 px-4 bg-card text-left rounded-2xl flex justify-between relative z-10">
                    Как долго длится работа?
                    <div class="bg-foreground p-2 rounded-full transition-transform duration-300">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 4L7.49521 7.75L1 11.5" stroke="var(--background)" stroke-width="2" />
                            <path d="M7.49524 4L13.9904 7.75L7.49524 11.5" stroke="var(--background)" stroke-width="2" />
                        </svg>
                    </div>
                </button>

                <div class="faq-popup absolute left-0 top-full w-full bg-card rounded-b-2xl shadow-xl p-4 text-sm text-muted-foreground hidden z-50">Сроки зависят от сложности проекта, обычно от 2 до 6 недель.</div>
            </div>

            <div class="faq-item relative">
                <button class="faq-question w-full items-center py-3 px-4 bg-card text-left rounded-2xl flex justify-between relative z-10">
                    Как долго длится работа?
                    <div class="bg-foreground p-2 rounded-full transition-transform duration-300">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 4L7.49521 7.75L1 11.5" stroke="var(--background)" stroke-width="2" />
                            <path d="M7.49524 4L13.9904 7.75L7.49524 11.5" stroke="var(--background)" stroke-width="2" />
                        </svg>
                    </div>
                </button>

                <div class="faq-popup absolute left-0 top-full w-full bg-card rounded-b-2xl shadow-xl p-4 text-sm text-muted-foreground hidden z-50">Сроки зависят от сложности проекта, обычно от 2 до 6 недель.</div>
            </div>
        </div>
    </div>
</section>
