<section class="services max-w-[1280px] mx-auto mt-12 flex flex-col gap-12 px-5" id="services">
    <div class="flex flex-col gap-3">
        <div class="flex flex-row gap-2 items-center">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 4L7.49521 7.75L1 11.5" stroke="var(--foreground)" stroke-width="1.5" />
                <path d="M7.49521 4L13.9904 7.75L7.49521 11.5" stroke="var(--foreground)" stroke-width="1.5" />
            </svg>
            <p>Услуги</p>
        </div>
        <h2 class="text-[48px] font-bold">Наши услуги</h2>
    </div>
    <div class="flex flex-col gap-2 w-full">
        <div class="flex flex-row w-full bg-card p-6 rounded-2xl gap-12">
            <!-- Левая часть -->
            <div class="flex flex-col justify-between flex-1">
                <div class="w-full flex flex-col gap-3">
                    <h3 class="text-2xl font-medium">Подготовительные и черновые работы</h3>
                    <p>Основа качественного ремонта. На этом этапе формируется прочная и ровная база для последующей отделки. Грамотно выполненные черновые работы позволяют избежать трещин, неровностей и лишних затрат в будущем.</p>
                </div>
                <a href="#contacts" class="bg-transparent text-foreground px-4 py-2 rounded-full w-fit text-base border border-foreground text-xs mt-12"> Рассчитать стоимость </a>
            </div>

            <!-- Правая часть -->
            <div class="flex flex-col justify-between flex-1">
                <div class="flex flex-col gap-2">
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Демонтаж</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Возведение перегородок</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Стяжка пола</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Выравнивание стен</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Шумоизоляция / утепление</p>
                    </div>
                </div>
                <h3 class="text-2xl font-bold mt-8">От 8500 ₽/м²</h3>
            </div>
        </div>
        <div class="flex flex-row w-full bg-card p-6 rounded-2xl gap-12">
            <!-- Левая часть -->
            <div class="flex flex-col justify-between flex-1">
                <div class="w-full flex flex-col gap-3">
                    <h3 class="text-2xl font-medium">Подготовительные и черновые работы</h3>
                    <p>Основа качественного ремонта. На этом этапе формируется прочная и ровная база для последующей отделки. Грамотно выполненные черновые работы позволяют избежать трещин, неровностей и лишних затрат в будущем.</p>
                </div>
                <a href="#contacts" class="bg-transparent text-foreground px-4 py-2 rounded-full w-fit text-base border border-foreground text-xs mt-12"> Рассчитать стоимость </a>
            </div>

            <!-- Правая часть -->
            <div class="flex flex-col justify-between flex-1">
                <div class="flex flex-col gap-2">
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Демонтаж</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Возведение перегородок</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Стяжка пола</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Выравнивание стен</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Шумоизоляция / утепление</p>
                    </div>
                </div>
                <h3 class="text-2xl font-bold mt-8">От 8500 ₽/м²</h3>
            </div>
        </div>
        <div class="flex flex-row w-full bg-card p-6 rounded-2xl gap-12">
            <!-- Левая часть -->
            <div class="flex flex-col justify-between flex-1">
                <div class="w-full flex flex-col gap-3">
                    <h3 class="text-2xl font-medium">Подготовительные и черновые работы</h3>
                    <p>Основа качественного ремонта. На этом этапе формируется прочная и ровная база для последующей отделки. Грамотно выполненные черновые работы позволяют избежать трещин, неровностей и лишних затрат в будущем.</p>
                </div>
                <a href="#contacts" class="bg-transparent text-foreground px-4 py-2 rounded-full w-fit text-base border border-foreground text-xs mt-12"> Рассчитать стоимость </a>
            </div>

            <!-- Правая часть -->
            <div class="flex flex-col justify-between flex-1">
                <div class="flex flex-col gap-2">
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Демонтаж</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Возведение перегородок</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Стяжка пола</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Выравнивание стен</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Шумоизоляция / утепление</p>
                    </div>
                </div>
                <h3 class="text-2xl font-bold mt-8">От 8500 ₽/м²</h3>
            </div>
        </div>
        <div class="flex flex-row w-full bg-card p-6 rounded-2xl gap-12">
            <!-- Левая часть -->
            <div class="flex flex-col justify-between flex-1">
                <div class="w-full flex flex-col gap-3">
                    <h3 class="text-2xl font-medium">Подготовительные и черновые работы</h3>
                    <p>Основа качественного ремонта. На этом этапе формируется прочная и ровная база для последующей отделки. Грамотно выполненные черновые работы позволяют избежать трещин, неровностей и лишних затрат в будущем.</p>
                </div>
                <a href="#contacts" class="bg-transparent text-foreground px-4 py-2 rounded-full w-fit text-base border border-foreground text-xs mt-12"> Рассчитать стоимость </a>
            </div>

            <!-- Правая часть -->
            <div class="flex flex-col justify-between flex-1">
                <div class="flex flex-col gap-2">
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Демонтаж</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Возведение перегородок</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Стяжка пола</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Выравнивание стен</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Шумоизоляция / утепление</p>
                    </div>
                </div>
                <h3 class="text-2xl font-bold mt-8">От 8500 ₽/м²</h3>
            </div>
        </div>
        <div class="flex flex-row w-full bg-card p-6 rounded-2xl gap-12">
            <!-- Левая часть -->
            <div class="flex flex-col justify-between flex-1">
                <div class="w-full flex flex-col gap-3">
                    <h3 class="text-2xl font-medium">Подготовительные и черновые работы</h3>
                    <p>Основа качественного ремонта. На этом этапе формируется прочная и ровная база для последующей отделки. Грамотно выполненные черновые работы позволяют избежать трещин, неровностей и лишних затрат в будущем.</p>
                </div>
                <a href="#contacts" class="bg-transparent text-foreground px-4 py-2 rounded-full w-fit text-base border border-foreground text-xs mt-12"> Рассчитать стоимость </a>
            </div>

            <!-- Правая часть -->
            <div class="flex flex-col justify-between flex-1">
                <div class="flex flex-col gap-2">
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Демонтаж</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Возведение перегородок</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Стяжка пола</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Выравнивание стен</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Шумоизоляция / утепление</p>
                    </div>
                </div>
                <h3 class="text-2xl font-bold mt-8">От 8500 ₽/м²</h3>
            </div>
        </div>
        <div class="flex flex-row w-full bg-card p-6 rounded-2xl gap-12">
            <!-- Левая часть -->
            <div class="flex flex-col justify-between flex-1">
                <div class="w-full flex flex-col gap-3">
                    <h3 class="text-2xl font-medium">Подготовительные и черновые работы</h3>
                    <p>Основа качественного ремонта. На этом этапе формируется прочная и ровная база для последующей отделки. Грамотно выполненные черновые работы позволяют избежать трещин, неровностей и лишних затрат в будущем.</p>
                </div>
                <a href="#contacts" class="bg-transparent text-foreground px-4 py-2 rounded-full w-fit text-base border border-foreground text-xs mt-12"> Рассчитать стоимость </a>
            </div>

            <!-- Правая часть -->
            <div class="flex flex-col justify-between flex-1">
                <div class="flex flex-col gap-2">
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Демонтаж</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Возведение перегородок</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Стяжка пола</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Выравнивание стен</p>
                    </div>
                    <div class="flex flex-row gap-2 items-center">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5.65686" y="1.55025" width="7" height="7" rx="1.5" transform="rotate(45 5.65686 1.55025)" stroke="var(--foreground)" />
                        </svg>
                        <p>Шумоизоляция / утепление</p>
                    </div>
                </div>
                <h3 class="text-2xl font-bold mt-8">От 8500 ₽/м²</h3>
            </div>
        </div>
    </div>
</section>
